*{
    font-family: "Arial";
    vertical-align: auto;
}

.verticalForm {
    display: inline-block;
    vertical-align: middle;
}

.requirements{
    padding: 10px 10px; 
}

.h2{
    text-align: left;
}

.fillIn {
    font-size: x-large;
    text-align: left;
}